html{
    padding: 0;
    background-color: aqua;
    font-family: m;
}
body{
    margin: 0 0 0 0;
    background-color: green;
}
.row{
    display: flex;
    height: 100vh;
}
.column_1{
width: 65%;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.column_2{
width: 35%;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.main_info p{
    font-size: 150%;
    background-color: aqua;
    margin: 0;
}