body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#phrase {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    white-space: pre;
}

#coming-soon {
    position: absolute;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
